<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <!-- Bean就是创建对象的 -->
    <!-- 处理器映射器 -->
    <bean  class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
	<!-- Controller
		bean标签的目的是创建对象
		class:类路径 
		id:对象名
		-->
	<bean id="LoginController" name="/login.do" class="com.zhiyou.controller.LoginController"></bean>
	
	<!-- 处理器适配器 -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"></bean>
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 视图解析的前缀 / 就是跟目录 
			如图页面放在WEB-INF下
		-->
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>