<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		MyBatis的全局配置文件中的各个节点要按照顺序写
	-->
	
	<!-- 加载jdbc.properties 文件 -->
	<typeAliases>
		<package name="com.zhiyou.model"/>
	</typeAliases>

	<!-- 数据源交给Spring去托管 --> 
	<!-- mapper加载交给Spring去托管 -->
	
</configuration>