<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyou.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyou.model.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_num" property="roleNum" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="statuss" property="statuss" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_num, role_name, statuss
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhiyou.model.Role" >
    insert into role (id, role_num, role_name, 
      statuss)
    values (#{id,jdbcType=INTEGER}, #{roleNum,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{statuss,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyou.model.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleNum != null" >
        role_num,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="statuss != null" >
        statuss,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleNum != null" >
        #{roleNum,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="statuss != null" >
        #{statuss,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyou.model.Role" >
    update role
    <set >
      <if test="roleNum != null" >
        role_num = #{roleNum,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="statuss != null" >
        statuss = #{statuss,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyou.model.Role" >
    update role
    set role_num = #{roleNum,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      statuss = #{statuss,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>